<div class="modal fade" id="showUserNamePass" tabindex="-1" role="dialog" data-animodel-in="fadeIn" data-animodel-out="fadeOut" aria-labelledby="exampleModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0" style="background-color: transparent;">
            <button class="close theme-close" type="button" data-dismiss="modal" aria-label="Close" style="opacity:1 !important;"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                User Name
                                <span class="text-right">
                                    <span id="unamecopy" data-setjs="UserName"></span>
                                    <a class="notification" data-clipboard="init" href="javascript:void(0)" data-clipboard-target="#unamecopy" data-original-title="Copy Username" title="Copy Username">
                                        <i class="fa fa-copy ml-2"></i>
                                    </a>
                                </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Password
                                <span class="text-right">
                                    <span id="passcopy" data-setjs="Password"></span>
                                    <a class="notification" data-clipboard="init" href="javascript:void(0)" data-clipboard-target="#passcopy" data-original-title="Copy Password" title="Copy Password">
                                        <i class="fa fa-copy ml-2"></i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


