<div class="modal fade" id="image-ModalBox" tabindex="-1" role="dialog" data-animodel-in="fadeIn" data-animodel-out="fadeOut" aria-labelledby="exampleModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0" style="background-color: transparent;">
            <button class="close theme-close" type="button" data-dismiss="modal" aria-label="Close" style="opacity:1 !important;"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <div class="card">
                    <div class="animate-widget">
                        <img class="img-fluid modal-img" src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


