<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">Copyright 2020 © feepay by traveltech software  </p>
            </div>
        </div>
    </div>
</footer>