
<div class="modal fade" id="changeSession" tabindex="-1" role="dialog" data-animodel-in="fadeIn" data-animodel-out="fadeOut" aria-labelledby="exampleModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0" style="background-color: transparent;">
            <button class="close theme-close" type="button" data-dismiss="modal" aria-label="Close" style="opacity:1 !important;"><span aria-hidden="true">×</span></button>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form id="changeSessionForm" action="@Url.Action("SessionChange","Academic")" method="post" class="needs-validation">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="Id">Session *</label>
                                        <select id="Id" name="Id" required class="form-control">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="d-block text-right">
                                        <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-secondary">Cancel</a>
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                    <div class="d-block"><div id="form-validation-summary" class="my-2 txt-danger" style="font-size: 12px;line-height: 1;letter-spacing: 0.9px;" asp-validation-summary="All"></div></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>