<div class="sidebar-wrapper">
    <div class="logo-wrapper">
        <a href="index.html"><img class="img-fluid for-light" src="~/Cuba/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/Cuba/images/logo/logo_dark.png" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="~/Cuba/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links custom-scrollbar">
                <li class="back-btn">
                    <a href="index.html"><img class="img-fluid" src="~/Cuba/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-right"><span>Back</span><i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                </li>


                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" asp-action="Index" asp-controller="Home">
                        <i data-feather="heart"> </i><span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="list"></i> <span> Schools </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="Add" asp-controller="RegisterSchool">Register School</a></li>
                        <li><a asp-action="List" asp-controller="RegisterSchool">List Schools</a></li>
                        <li><a href="javascript:void(0)">Plan Status</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="check-square"></i> <span> Payment Gateway </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="javascript:void(0)">Change/Active Requests</a></li>
                        <li><a href="javascript:void(0)">List Payment Gateway</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="settings"></i> <span> Settings </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a asp-action="UserList" asp-controller="Account">Users</a></li>
                        <li><a asp-action="UserAdd" asp-controller="Account">Create User</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="calendar"></i> <span> Enquiries </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="javascript:void(0)">Upgrades/Renewals Plans</a></li>
                        <li><a href="javascript:void(0)">New Registration</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" asp-action="Profile" asp-controller="Home">
                        <i data-feather="zap"> </i><span>Profile</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)">
                        <i data-feather="clock"> </i><span>To-Do</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="javascript:void(0)">
                        <i data-feather="search"> </i><span>Search Result</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
</div>