@using FeePay.Core.Domain.Entities.Identity
@model IEnumerable<SuperAdminUser>
@{
    ViewData["Title"] = "SuperAdminUserList";
}

<h1>SuperAdminUserList</h1>

<table>
    <thead>
        <tr>
            <th>FullName</th>
            <th>UserName</th>
            <th>IsActive</th>
            <th>AddedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.UserName</td>
                <td>@item.IsActive</td>
                <td>@item.AddedDate</td>
            </tr>
        }
    </tbody>
</table>